body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.header-bg{
    padding-top: 110px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   padding-bottom: 130px;
}
.body-bg{
    background-image: url("images/biography-bg.png");
    background-repeat: repeat-x;
    background-size: cover;
    padding-bottom: 100px;
}
.komor-bg{
    margin-top: 80px;
    margin-left: 100px;
    padding-bottom: 150px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.hatu{
  margin-top: 40px;
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
 padding-bottom: 140px;
}

h1{
    color: #ec4c7a;
    font-size: 50px;
    font-weight: 700px;
}
.text{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.image{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.image img{
    width: 100%;
}
p{
    color: dimgray;
}
.btn{
    color: white;
    padding: 12px 40px;
    border-radius: 5px;
    background: #ec4c7a;
    text-decoration: none;
    
}
.size{
    margin-top: 260px;
}
.size1{
    margin-top: 130px;
}
.center{
    text-align: center;
    margin-right: 150px;
    margin-bottom: 100px;
}
.work1{
 width: 30%;
 float: left;
 margin-right: 20px;
}
.work2{
    width: 30%;
    float: left;
    margin-left: 20;
    margin-right: 20;
}
.work3{
    width: 30%;
    float: left;
    margin-left: 20px;
}
.soto{
    width: 100%;
    text-align: center;
}
.upore{
    margin-top: -80px;
}
.contact{

}
.text-center{
    text-align: center;
}
.choto{
    font-size: 12px;
    margin-top: -20px;
}
.coloor{
    color: black;
}
.btn1{
    text-decoration: none;
    color: white;
}
.last{
    background: #ec4c7a;
   width: 500px;
   margin: auto;
   color: white;
   padding: 10px;
   border-radius: 5px;
}